//!Переменные
$font: 'Barlow-Regular', sans-serif;
$fsize-default: 16px;
//===============================================

//===============================================

$color-shark: #191C1F;
$bg-accent: #1F2327;
$colog-accent: #4021A5;
$color-gray: #656565;
$color-blue: #7EBFF0;
$color-crusta: #FC7826;




//==============Шаблоны===========================